<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShowAllPosts</title>
    <link rel="stylesheet" href="style/allPostsStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/headerStyle.css">-->
</head>
<body>
<header th:insert="header :: header"></header>
<br>
<div class="container" id="container">
    <form th:each="post : ${postList}">
        <div class="card">
            <div class="card-body" id="card-body" name="card-body">
                <form method="post">
                    <h1 th:text="${post.title}" class="card-title"></h1>
                    <p th:text="${post.body}" class="card-text"></p>
                    <p th:text="${post.date}" class="card-text"></p>
                    <p><b>Views: </b><span th:text="${post.views}" class="card-text"></span></p>
                    <a th:href="'/allPosts/' + ${post.id}" class="card-text">Details</a>
                </form>
            </div>
        </div>
    </form>
</div>
<script src="js/darkMode.js"></script>
</form>
</body>
</html>