<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<header th:insert="header :: header"></header>
<br/>
<div class="container">
    <form action="/newPost" method="post">
        <div>
            <input type="text" name="title" class="form-control input-lh"
            placeholder="Input title">
        </div>
<br/>
        <div>
            <textarea name="body" class="form-control input-lg" placeholder="Input body" wrap="off"></textarea>
        </div>
<br/>
        <input type="submit" class="btn btn-primary btn-block" value="Submit" id="button">

    </form>
    <script src="js/darkMode.js"></script>
</div>
</body>
</html>